.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
*.vsix
.idea/**
.git/**
media/SISS024-light.png
media/clippy-light.png
media/console-light.png
media/globe-light.png
media/refresh-light.png
media/remote-light.png
